*/.classpath
*/.mymetadata
*/.project
*.class
*.settings/
*.settings/*
.metadata/
.metadata/*
.recommenders/
.recommenders/*
*/.idea/
*/*.iml
.idea/
*.iml
**/*.pyc
src/library/*
src/Model/*
out
src/storage/__pycache__/